﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<hello-world></hello-world>

<div class="text-center">
    <h1 class="display-4">Aplikasi Pos Kasir</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

